@charset "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
}

body{
	background: #999999;
	color:#ffffff;
}

#contenedor{
	width:960px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}

h2{
	color:#00263b;
	text-align:center;
	background:#00909e;
}

header{
	height:150px;
	background: blue;
	color: white;
}

header h1{
	font-size:50px;
	text-align: center;
	line-height: 150px;
}

nav{
	background: #58b4ae;
	height: 60px;
}

.contenido{
	width:650px;
	height:500px;
	background: #def4f0;
	float: left;
	margin-top:10px;
	margin-bottom:10px;
	overflow: scroll;
}

aside{
	width:300px;
	height:500px;
	background: #b4f2e1;
	margin-top:10px;
	margin-bottom:10px;
	float:right;
}
aside h2{
	text-align:center;
	background: #00909e;
}

footer{
	background: blue;
	height:40px;
	clear: both;
}

footer h4{
	text-align: center;
	text-size:30px;
	margin-top:300px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	padding:10px;
	margin-top:10px;
}
h2{
	color:#00263b;
}

.texto{
	color:black;
}
.club{
	heigth:150px;
	width:150px;
	float: left;
	margin-right:20px;
}
.cuadro-club{
	margin-top:20px;
	margin-bottom:20px;
}
.subtitulo{
	font-size:20px;
}

.publicidad{
	height:100px;
	width: 200px;
	margin-top:5px;
}
.caja1{
	margin-top:20px;
	margin-left:50px;
}