<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/Estilos-Equipos.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div id="contenedor">
			<header>
				<h1>Liga de futbol Profecional</h1>
			</header>
			
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="fixture  resultados.html" target="_blank">Fixture y resultados</a></li>
					<li><a href="contacto.html" target="_blank">Contacto</a></li>
				</ul>
			</nav>
			
			<div class="contenido">
			    <h2>Equipo</h2>
			    <div>
			    	<div class="cuadro-club" >
			    		<img class="club" src="img/arsenal.png">
			    		<p class="texto">
			    		Fundado en 1886 en el sudeste de Londres, en 1893, se convirtio en 
			    		el primer club del sur de Inglaterra en unirse a la Football League. 
			    		Gano sus primeros titulos —cinco ligas y dos FA Cups— en los años 1930.  
			    		Luego de un periodo de escasez en los años posteriores a la Segunda 
			    		Guerra Mundial, se convirtio en el segundo club del siglo XX en ganar 
			    		el doblete, obteniendo el Campeonato de Liga y la FA Cup de la temporada 1970-71. 
			    		Los logros siguieron en los años 1990 y 2000. Durante esos años, Arsenal gano 
			    		un doblete de copas nacionales, dos dobletes de Liga y Copa, y dos bicampeonatos 
			    		de la Copa de Inglaterra.
			    		</p>
			    	</div>
			    	<div class="cuadro-club">
			    		<img class="club" src="img/arsenal.png">
			    		<p class="texto">
			    		Fundado en 1886 en el sudeste de Londres, en 1893, se convirtio en 
			    		el primer club del sur de Inglaterra en unirse a la Football League. 
			    		Gano sus primeros titulos —cinco ligas y dos FA Cups— en los años 1930.  
			    		Luego de un periodo de escasez en los años posteriores a la Segunda 
			    		Guerra Mundial, se convirtio en el segundo club del siglo XX en ganar 
			    		el doblete, obteniendo el Campeonato de Liga y la FA Cup de la temporada 1970-71. 
			    		Los logros siguieron en los años 1990 y 2000. Durante esos años, Arsenal gano 
			    		un doblete de copas nacionales, dos dobletes de Liga y Copa, y dos bicampeonatos 
			    		de la Copa de Inglaterra.
			    		</p>
			    	</div>
			    	<div >
			    		<img class="club" src="img/arsenal.png">
			    		<p class="texto">
			    		Fundado en 1886 en el sudeste de Londres, en 1893, se convirtio en 
			    		el primer club del sur de Inglaterra en unirse a la Football League. 
			    		Gano sus primeros titulos —cinco ligas y dos FA Cups— en los años 1930.  
			    		Luego de un periodo de escasez en los años posteriores a la Segunda 
			    		Guerra Mundial, se convirtio en el segundo club del siglo XX en ganar 
			    		el doblete, obteniendo el Campeonato de Liga y la FA Cup de la temporada 1970-71. 
			    		Los logros siguieron en los años 1990 y 2000. Durante esos años, Arsenal gano 
			    		un doblete de copas nacionales, dos dobletes de Liga y Copa, y dos bicampeonatos 
			    		de la Copa de Inglaterra.
			    		</p>
			    	</div>
			    	
			    </div>

			</div>
			
			<aside>
				<h2>Auspiciantes</h2>
			  <div class="caja1">
				<img class="publicidad" src="img/fravega.png">
				<img class="publicidad" src="img/chevrolet.jpg">
				<img class="publicidad" src="img/macro.jpg">
				<img class="publicidad" src="img/adidas.png">
			  </div>
			</aside>
			
			<footer>
				<h4>Avds. Pedro Ortiz de Zarate N° 455 - Tel388 4789555</h2>
			</footer>
		</div>

</body>
</html>