<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/Estilos-Index.css">
<meta charset="ISO-8859-1">
<title>Principal</title>
</head>
<body>
	<div id="contenedor">
			<header>
				<h1>Liga de futbol Profecional</h1>
			</header>
			
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="fixture  resultados.html" target="_blank">Fixture y resultados</a></li>
					<li><a href="contacto.html" target="_blank">Contacto</a></li>
				</ul>
			</nav>
			
			<section id="contenido">
				<h2 class="noticia">Noticias</h2>
			<div class="tarjeta">
				<div class="cuadro-mayor">        
                   <div class=cuadro1>
                        <div class="cuadro2">
                        <img class="imagen" src="img/partido1.jpeg">
                               <h4 class="texto">12/03/20</h4>
                               <p class="texto">Nueva noticia de los partidos suspendidos por la cuarentena. </p>
                               
                       </div>
                  </div>          
               </div>
               <div class="cuadro-mayor">        
                   <div class=cuadro1>
                        <div class="cuadro2">
                        <img class="imagen" src="img/estadio(1).jpg">
                               <h4 class="texto">12/03/20</h4>
                               <p class="texto">Repeticion de la transmicion en vivo de la final de la copa anual de profesiona. </p>
                               
                       </div>
                  </div>          
               </div>
               <div class="cuadro-mayor">        
                   <div class=cuadro1>
                        <div class="cuadro2">
                        <img class="imagen" src="img/pelota de futbol.jpg">
                               <h4 class="texto">12/03/20</h4>
                               <p class="texto">Reprogramacion  de los sorteos para las siguientes fechas. </p>
                               
                       </div>
                  </div>          
               </div>     
			</div>

		     </section>
			
			<aside>
				<h2>Auspiciantes</h2>
			</aside>
			
			<footer>
				<h4>Avds. Pedro Ortiz de Zarate N° 455 - Tel388 4789555</h2>
			</footer>
		</div>


</body>
</html>